<h1>New Cards</h1>
BROKEN PAGE

<!-- <div class="container">
  <%unless @cards.nil? %>
    <% @cards.each do |card| %>
    <div class="card_area">
      <div class="card_info">
        <h4><%= card.name %></h4>
        <img class="card_image" src="<%= card.image %>">
        <p><%= card.description %></p>
      </div>
      <button class="accept_button" id="/accept/<%= card.id %>" type="button">Accept this card</button>
      <button class="delete_button" id="/delete/<%= card.id %>" type="button">Delete this card</button>
    </div>
    <% end %>
  <% else %>
    <p>You don't have any new cards at the moment.</p>
  <% end %>
</div> -->
